.form-login,login-form {
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.form {
    margin: 10px;
}

.form-control {
    text-align: center;
}

.logger-info {
    pointer-events: none;
    /* position: fixed; */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 50vh;
    z-index: 9999;
    text-align: center;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    border: 0,5px solid #f8f8f8;
    background-color: #f1f1f1;
    color: #333;
    opacity: 0;
    transform: translateX(0);
    transition: transform 0.5s, opacity 0.5s;
    display: none;
}

.success {
    color: #000000;
    background-color: #00ff08;
    /* Warna hijau untuk notifikasi sukses */
}

.error {
    color: #ffffff;
    background-color: #f44336;
    /* Warna merah untuk notifikasi gagal */
}

.logger-info.show {
    opacity: 1;
    display: block;
    transform: translateX(0);
}