/* CSS untuk mengatur elemen default */
a, body, div, form, html, img, input, label, p, span, table, td, th, tr {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: sans-serif, Arial */
}

/* CSS untuk mengatur tampilan halaman */
body, html {
    min-height: 100%;
    overflow: auto;
}

/* CSS untuk tampilan latar belakang */
body {
    background: #a2a09b;
    background: linear-gradient(135deg, hsl(236.6, 0%, 53.52%) 0%, hsla(236.6, 0%, 53.52%, 0) 70%),
                linear-gradient(25deg, hsl(220.75, 34.93%, 26.52%) 10%, hsla(220.75, 34.93%, 26.52%, 0) 80%),
                linear-gradient(315deg, hsl(46.42, 36.62%, 83.92%) 15%, hsla(46.42, 36.62%, 83.92%, 0) 80%),
                linear-gradient(245deg, hsl(191.32, 50.68%, 56.45%) 100%, hsla(191.32, 50.68%, 56.45%, 0) 70%);
}

/* CSS untuk tampilan halaman utama */
.container-main {
    max-width: 1200px; /* Lebar konten maksimum untuk tampilan desktop */
    margin: 0 auto; /* Atur margin agar konten berada di tengah halaman */
    padding: 0 20px; /* Padding untuk ruang di sekitar konten */
}

/* CSS untuk tampilan mobile */
@media (max-width: 768px) {
    .container-main {
        max-width: 100%; /* Lebar konten maksimum untuk tampilan mobile */
        padding: 0 10px; /* Padding yang lebih kecil untuk tampilan mobile */
    }
}

/* CSS untuk footer */
.container-footer {
    background-color: rgba(255, 254, 254, 0.02); /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    padding: 20px; /* Padding dalam footer */
    text-align: center; /* Pusatkan teks di dalam footer */
    position: fixed; /* Footer tetap di bagian bawah halaman */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Efek hover untuk tautan di footer */
.container-footer a:hover {
    color: #ffc107; /* Ubah warna teks saat tautan dihover */
}

/* CSS untuk tabel */
table {
    width: 100%; /* Lebar tabel 100% dari container */
    border-collapse: collapse; /* Gabungkan batas sel */
    margin-bottom: 20px; /* Beri jarak antara tabel dengan elemen lain */
}

td, th {
    padding: 8px; /* Padding dalam sel tabel */
    border: 1px solid #ddd; /* Garis batas sel tabel */
    text-align: left; /* Pusatkan teks di dalam sel */
}

