<link rel="stylesheet" href="/static/styles/<%= halaman %>.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="halaman-index">
    <div class="header-container">
        <h4 id="ucapan"></h4>
        <div class="logout-button">
            <button id="logoutButton" onclick="logout()">
                <i class="fa fa-power-off" style="font-size:38px;color:red"></i>
            </button>
        </div>
    </div>
</div>