<div class="halaman-index">
    <div class="header-container">
        <h3>Generate Qr</h3>
        <div class="list-menu-flex">
            <button class="btn btn-primary btn-tambah-akun" onclick="tampilkangenerateqrwifi()">QR WiFi</button>
            <button class="btn btn-primary btn-tambah-akun" onclick="tampilkangenerateqrlogin()">QR Login Hotspot</button>
        </div>
    </div>
</div>