<link rel="stylesheet" href="/static/styles/<%= halaman %>.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="halaman-index">
    <div class="header-container">
        <h4 id="ucapan"></h4>
        <div class="logout-button">
            <button id="logoutButton" onclick="logout()">
                <i class="fa fa-power-off" style="font-size:30px;color:red"></i>
            </button>
        </div>
    </div>
    <% if (!mikrotikstatus) { %>
        <div class="mikrotik-status">
            <h5>Mikrotik Terputus, Hubungi Admin <a href="https://wa.me/6285155431301">085155431301</a></h5>
        </div>
    <% } %>
    <% if (role == "Administrator") { %>

        <div class="tambah-hotspot" id="tambah-hotspot">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanlisthotspot()">List Akun</button>
                <a href="/generateqr" class="btn btn-primary btn-tambah-akun">Generate Qr</a>
            </div>
            <div class="form-container">
                <h6>Tambah Akun</h6>
                <form id="tambahAkunForm" action="/tambahakunhotspot" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-grup">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="col form-password" id="formpassword" >
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="text" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="jenisAkun">Jenis Akun:</label>
                                <select class="form-control" id="jenisAkun" name="jenisAkun" required>
                                </select>
                            </div>
                        </div>
                        <div class="btn-tambah-hotspot">
                            <button type="submit" class="btn btn-primary btn-tambah-akun">Tambah Akun</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="list-akun-hotspot" id="list-akun-hotspot" style="display: none;">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkantambahhotspot()">Kembali Tambah Hostpot</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuseraktif()">Detail Akun Aktif</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuserqueue()">Bandwidth Akun Aktif</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanleaseclient()">List Client</button>
            </div>
            <div class="form-container">
                <div class="header-container">
                    <h5>List Akun Hotspot</h5>
                    <h5 id="info-akun-aktif"></h5>
                </div>
                <div class="table-container">
                    <table class="table-list-hotspot">
                        <thead>
                            <tr>
                                <th style="width: 30px;">No.</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Pemakaian (Down/Up)</th>
                                <th>Profile</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-body-listhotspotuser">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="info-user-aktif" id="info-user-aktif" style="display: none;">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkantambahhotspot()">Kembali Tambah Hostpot</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanlisthotspot()">List Akun</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuserqueue()">Bandwidth Akun Aktif</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanleaseclient()">List Client</button>
                <!-- <a href="/detail" class="btn btn-primary btn-tambah-akun">Detail Bandwidth Akun</a> -->
            </div>
            <div class="form-container">
                <div class="header-container">
                    <h4>List Aktif Akun</h4>
                    <div class="list-btn-aktif-akun">
                        <button class="btn btn-danger" onclick="logoutkansemua()">Logoutkan Semua</button>
                    </div>
                </div>
                <div class="table-container">
                    <table class="table-list-akun-aktif">
                        <thead>
                            <tr>
                                <th style="width: 30px;">No.</th>
                                <th>Username</th>
                                <th>Hotspot</th>
                                <th>IP Address</th>
                                <th>Pemakaian (Down/Up)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-body-listakunaktif">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="info-queue-user" id="info-queue-user" style="display: none;">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkantambahhotspot()">Kembali Tambah Hostpot</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanlisthotspot()">List Akun</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuseraktif()">Detail Akun Aktif</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanleaseclient()">List Client</button>
                <!-- <a href="/detail" class="btn btn-primary btn-tambah-akun">Detail Bandwidth Akun</a> -->
            </div>
            <div class="form-container">
                <div class="header-container">
                    <h5>List Limitasi Akun Aktif</h5>
                    <!-- <div class="header-container list-btn-aktif-akun">
                        <button class="btn btn-danger" onclick="logoutkansemua()">Logoutkan Semua</button>
                    </div> -->
                </div>
                <div class="table-container">
                    <table class="table-list-queue-aktif">
                        <thead>
                            <tr>
                                <th style="width: 30px;">No.</th>
                                <th>Username</th>
                                <th>Hotspot</th>
                                <th>IP Address</th>
                                <th>Prioritas (Up/Down)</th>
                                <th>Limit (Up/Down)</th>
                                <th>Trafik Berjalan (Up/Down)</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-body-listqueueaktif">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="info-lease-user" id="info-lease-user" style="display: none;">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkantambahhotspot()">Kembali Tambah Hostpot</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanlisthotspot()">List Akun</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuseraktif()">Detail Akun Aktif</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuserqueue()">Bandwidth Akun Aktif</button>
                <!-- <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuseraktif()">Detail Akun Aktif</button> -->
                <!-- <a href="/detail" class="btn btn-primary btn-tambah-akun">Detail Bandwidth Akun</a> -->
            </div>
            <div class="form-container">
                <div class="header-container">
                    <h5>List Client Tidak Login</h5>
                    <div class="list-btn-aktif-akun">
                        <button class="btn btn-danger" onclick="listbindinguser()">List Binding Client</button>
                    </div>
                </div>
                <div class="table-container">
                    <table class="table-list-host-aktif">
                        <thead>
                            <tr>
                                <th style="width: 30px;">No.</th>
                                <th>Hotspot</th>
                                <th>IP Address</th>
                                <th>Mac Address</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-body-listhost">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="info-binding-user" id="info-binding-user" style="display: none;">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkantambahhotspot()">Kembali Tambah Hostpot</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanleaseclient()">Kembali List Client</button>
                <!-- <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanlisthotspot()">List Akun</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuseraktif()">Detail Akun Aktif</button>
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuserqueue()">Bandwidth Akun Aktif</button> -->
                <!-- <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanuseraktif()">Detail Akun Aktif</button> -->
                <!-- <a href="/detail" class="btn btn-primary btn-tambah-akun">Detail Bandwidth Akun</a> -->
            </div>
            <div class="form-container">
                <div class="header-container">
                    <h5>List Client Binding</h5>
                </div>
                <div class="table-container">
                    <table class="table-list-binding">
                        <thead>
                            <tr>
                                <th style="width: 30px;">No.</th>
                                <th>Hotspot</th>
                                <th>IP Address</th>
                                <th>Mac Address</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-body-listbinding">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-container" id="info-device-mikrotik">
            <div class="info-mikrotik">
                <h5 id="info-mikrotik-identity"></h5>
            </div>
            <div class="icons-containers">
                <div class="icons-container">
                    <i class="fas fa-cogs"></i>
                    <p  id="info-mikrotik-cpu"></p>
                </div>
                <div class="icons-container">
                    <i class="fas fa-wifi"></i>
                    <p  id="info-mikrotik-kuota"></p>
                </div>
                <div class="icons-container">
                    <i class="fas fa-exchange-alt"></i>
                    <p  id="info-mikrotik-traffic"></p>
                </div>
                <div class="icons-container">
                    <i class="fas fa-clock"></i>
                    <p id="info-mikrotik-uptime"></p>
                </div>
            </div>
        </div>

    <% } else { %>

        <div class="tambah-hotspot" id="tambah-hotspot">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkanlisthotspot()">List Akun</button>
            </div>
            <div class="form-container">
                <h6>Tambah Akun</h6>
                <form id="tambahAkunForm" action="/tambahakunhotspot" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-grup">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="col form-password" id="formpassword" >
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="text" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="jenisAkun">Jenis Akun:</label>
                                <select class="form-control" id="jenisAkun" name="jenisAkun" required>
                                </select>
                            </div>
                        </div>
                        <div class="btn-tambah-hotspot">
                            <button type="submit" class="btn btn-primary btn-tambah-akun">Tambah Akun</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="list-akun-hotspot" id="list-akun-hotspot" style="display: none;">
            <div class="list-menu-flex">
                <button class="btn btn-primary btn-tambah-akun" onclick="tampilkantambahhotspot()">Kembali Tambah Hostpot</button>
            </div>
            <div class="form-container">
                <div class="header-container">
                    <h4>List Akun Hotspot</h4>
                    <h5 id="info-akun-aktif"></h5>
                </div>
                <div class="table-container">
                    <table class="table-list-hotspot">
                        <thead>
                            <tr>
                                <th style="width: 30px;">No.</th>
                                <th>Username</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="custom-table-body-listhotspotuser">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <% } %>
</div>