<link rel="stylesheet" href="/static/styles/<%= halaman %>.css">
<div class="halaman-error">
    <h1>404 Not Found</h1>
    <p>Maaf, halaman yang Anda cari tidak ditemukan.</p>
    <br>
    <a href="<%= prevpage %>">Kembali ke Halaman Sebelumnya</a>
</div>